@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
	vertical-align: baseline;
  text-decoration: none;
}

ul {
  list-style: none;
}

input, textarea, button {
  outline: none;
}

@keyframes scaleUp {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

@keyframes scaleDown {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}

/* Styles */

body {
  width: 100%;
  overflow-x: hidden;
}

#container {
  width: 40vw;
  margin: 0 auto 50px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 65px;
  text-align: center;
  letter-spacing: 1px;
  color: #1C2541;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

input {
  width: 85%;
  margin-bottom: 2em;
  padding: 0.5em;
  height: 2.5em;
  border: none;
  border-bottom: black 2px solid;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #30343F;
}

span {
  transition: background-color 0.1s ease;
  padding: 0.5em 1.3em;
  border: black 2px solid;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

span:hover {
  background-color: black;
  color: white;
}

li {
  height: 2em;
  padding: 0.5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  cursor: pointer;
  animation: scaleUp 0.3s ease;
}

li::after {
  content: " ";
  display: none;
  position: relative;
  left: 95%;
  bottom: 1em;
  width: 12px;
  height: 12px;
  background-image: url("../img/cross-out.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}

li:hover::after{
  display: block;
}

li:nth-of-type(even) {
  background-color: #E6E8E6;
}

li:nth-of-type(odd) {
  background-color: #CED0CE;
}

li:hover {
  background-color: #119822;
}
